.required{
  color: red;
}

.body{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.body-submit{
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.error{
  color:red;
}

li{
  list-style:none;
  display: inline-block;

}

.content {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px;
  border-style: solid;
  border-color: #333333;
  text-align:center;
}
