.required{
  color: red;
}

body{
  text-align:center;
}

li{
  list-style:none;
  display: inline-block;
  background-color:black;
}
.content {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px;
  border-style: solid;
  border-color: #333333;
  text-align:center;
}
